/* === NAVBAR STYLING === */

/* Bar icon non active*/
.bar {
    filter: invert(54%) sepia(1%) saturate(0%) hue-rotate(54deg) brightness(93%) contrast(91%);
}

/* Bar icon active*/
.bar-active {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%); 
}

/* Navbar global style*/
nav {
    position: absolute;
}

.navbar {
    display: absolute;
    display: flex;
    flex-direction: column;
    border: 0.5px solid grey;
    align-items: center;
    width: 15%;
    height: 95vh;
    background-color: #101010;
}

/* Animation for close navbar  */
.navbar-close {
    transform: translateX(-100%);
    transition: all .4s ease;
}

/* Animation for open navbar */
.navbar-open {
    transform: translateX(0%);
    transition: all .4s ease;
}

/* Animation for color open page */
nav ul li {
    margin-top: 1rem;
}

/* Animation for color open page */
.active {
    color: #ffffff;
}